// first-view
.first-view{
  height: 396px;
  color: $primary-dark;
  background-image: url(../images/home-header-sm.png);
  background-position: center;
  background-size: cover;
  .container{
    height: 100%;
  }
  &-title{
    font-size: 1.5rem;
  }
  &-btn{
    padding: 6px 12px;
    color: $white;
    background-color: $primary;
    &:hover{
      background-color: $primary-dark;
    }
  }
  @media (min-width: 768px) {
    height: calc(100vh - 80px);
    background-image: url(../images/home-header.png);
    &-title{
      font-size: 4rem;
    }
    &-desc{
      font-size: 2.25rem;
    }
  }
}
// feature
@media (max-width: 576px) {
  .index-title-h2{
    font-size: 1.5rem;
  }
}
.feature-img{
  width: 84px;
  height: 84px;
}
// 
@media (max-width: 992px) {
  .classic-row{
    max-width: 372px;
    margin: 0 auto;
  }
}
// design
.design{
  background-image: url(../images/index-bg-sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 768px) {
    background-image: url(../images/index-bg-md.png);
  }
  @media (min-width: 992px) {
    background-image: url(../images/index-bg.png);
  }
}
.design-card-title{
  padding: 0.5rem 0;
  background-color: $white;
}
// recommend
.recommend-card{
  border-radius: .25rem;
  border: 1px solid $border;
  box-shadow: 0 2px 6px $shadow;
}
.recommend-card-content{
  display: flex;
  flex-direction: column;
  min-height: 205px;
  padding: 1rem;
  &-time{
    margin-top: auto;
    font-size: 0.875rem;
    color: $gray-500;
  }
}
// feedback
.feedback-container{
  max-width: 576px;
  padding: 0 12px;
  margin: 0 auto;
  @media (min-width: 768px){
    max-width: 636px;
  }
  @media (max-width: 768px){
    .h5{font-size: 1rem;}
    .mt-12{margin-top: 24px;}
  }
}
.feedback-form{
  input[type="text"],textarea{
    padding: 6px .75rem;
    border: 1px solid $black;
    &::placeholder{
      color: rgba($black, .2);
    }
  }
  input[type="text"]{
    height: 36px;
  }
  textarea{
    height: 136px;
  }
  input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin: 4px;
    border: 2px solid $black;
  }
  .btn-lg{
    width: 348px;
    font-weight: bold;
    @media (min-width: 576px){
      width: 336px;
    }
    @media (min-width: 768px){
      width: 416px;
    }
  }
}