<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- first-view -->
    <section class="first-view">
      <div class="container d-flex align-items-end justify-content-center flex-column">
        <p class="first-view-desc">Promise-Desert 2020 早春系列</p>
        <h2 class="first-view-title fw-700">看得清，才能看得遠</h2>
        <a class="first-view-btn h5 mt-2" href="#">立即購買</a>
      </div>
    </section>
    <!-- feature -->
    <section class="feature bg-second py-10 py-lg-20">
      <div class="container">
        <h2 class="h2 index-title-h2 text-primary-dark fw-700 text-center mb-6">用專業的心，做專業的事</h2>
        <ul class="row">
          <li class="col-12 col-md-6 col-lg-3 text-center py-4">
            <img class="feature-img" src="../assets/images/home-section2-1.png" alt="">
            <h3 class="h4 text-primary-dark fw-700 mt-6">單一價格</h3>
            <p class="text-start mt-2">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col-12 col-md-6 col-lg-3 text-center py-4">
            <img class="feature-img" src="../assets/images/home-section2-2.png" alt="">
            <h3 class="h4 text-primary-dark fw-700 mt-6">20 分鐘即可取件</h3>
            <p class="text-start mt-2">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col-12 col-md-6 col-lg-3 text-center py-4">
            <img class="feature-img" src="../assets/images/home-section2-3.png" alt="">
            <h3 class="h4 text-primary-dark fw-700 mt-6">安心售後服務</h3>
            <p class="text-start mt-2">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col-12 col-md-6 col-lg-3 text-center py-4">
            <img class="feature-img" src="../assets/images/home-section2-4.png" alt="">
            <h3 class="h4 text-primary-dark fw-700 mt-6">關於鏡片</h3>
            <p class="text-start mt-2">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- classic -->
    <section class="classic py-10 py-lg-20">
      <div class="container">
        <h2 class="h2 index-title-h2 text-primary-dark fw-700 text-center mb-6">經典系列鏡框</h2>
        <ul class="row classic-row">
          <li class="col-12 col-lg-4 mt-6">
            <img src="../assets/images/home-section3-1.png" alt="">
            <h3 class="h2 ff-roboto fw-900 font-italic text-primary text-center">OPTICAL</h3>
          </li>
          <li class="col-12 col-lg-4 mt-6">
            <img src="../assets/images/home-section3-2.png" alt="">
            <h3 class="h2 ff-roboto fw-900 font-italic text-primary text-center">SUNGLASSES</h3>
          </li>
          <li class="col-12 col-lg-4 mt-6">
            <img src="../assets/images/home-section3-3.png" alt="">
            <h3 class="h2 ff-roboto fw-900 font-italic text-primary text-center">FUNCTIONAL</h3>
          </li>
        </ul>
      </div>
    </section>
    <!-- design -->
    <section class="design py-10 py-lg-20">
      <div class="container">
        <h2 class="h2 index-title-h2 text-white fw-700 text-center mb-6">聯名設計鏡框</h2>
        <div class="d-lg-flex">
          <div class="design-card mb-6 mb-lg-0">
            <a href="#">
              <picture>
                <source srcset="../assets/images/home-section4-1-sm.png" media="(max-width: 576px)">
                <img src="../assets/images/home-section4-1.png" alt="double A+">
              </picture>
              <h3 class="h2 ff-roboto fw-900 font-italic text-primary text-center design-card-title">DOUBLE A+</h3>
            </a>
          </div>
          <div class="design-card mb-6 mb-lg-0">
            <a href="#">
              <picture>
                <source srcset="../assets/images/home-section4-2-sm.png" media="(max-width: 576px)">
                <img src="../assets/images/home-section4-2.png" alt="YOUTH">
              </picture>
              <h3 class="h2 ff-roboto fw-900 font-italic text-primary text-center design-card-title">YOUTH A+</h3>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- recommend -->
    <section class="recommend py-10 py-lg-20">
      <div class="container">
        <h2 class="h2 index-title-h2 text-primary-dark fw-700 text-center mb-6">顧客推薦</h2>
        <ul class="row">
          <li class="col-12 col-md-6 col-lg-3 mt-6">
            <a class="recommend-card" href="#">
              <img src="../assets/images/home-section5-1.png" alt="">
              <div class="recommend-card-content">
                <p>Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                <p class="recommend-card-content-time">2021/06/20</p>
              </div>
            </a>
          </li>
          <li class="col-12 col-md-6 col-lg-3 mt-6">
            <a class="recommend-card" href="#">
              <img src="../assets/images/home-section5-2.png" alt="">
              <div class="recommend-card-content">
                <p>凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <p class="recommend-card-content-time">2021/04/18</p>
              </div>
            </a>
          </li>
          <li class="col-12 col-md-6 col-lg-3 mt-6">
            <a class="recommend-card" href="#">
              <img src="../assets/images/home-section5-3.png" alt="">
              <div class="recommend-card-content">
                <p>悠悠</p>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <p class="recommend-card-content-time">2020/12/25</p>
              </div>
            </a>
          </li>
          <li class="col-12 col-md-6 col-lg-3 mt-6">
            <a class="recommend-card" href="#">
              <img src="../assets/images/home-section5-4.png" alt="">
              <div class="recommend-card-content">
                <p>Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                <p class="recommend-card-content-time">2020/10/31</p>
              </div>
            </a>
          </li>

        </ul>
    </section>
    <!-- feedback -->
    <section class="feedback bg-second py-10 py-lg-20">
      <div class="feedback-container">
        <h2 class="h2 index-title-h2 text-primary-dark fw-700 text-center mb-6">聯絡我們</h2>
        <p class="h5 mt-12">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form class="feedback-form mt-6" action="index.html">
          <div class="d-flex flex-column">
            <label class="mb-2" for="name">姓名</label>
            <input type="text" name="name" id="name" placeholder="陳小明">
          </div>
          <div class="d-flex flex-column mt-4">
            <label class="mb-2" for="tel">聯絡電話</label>
            <input type="text" name="tel" id="tel" placeholder="0912-345-678">
          </div>
          <div class="d-flex flex-column mt-4">
            <label class="mb-2" for="email">電子郵件</label>
            <input type="text" name="email" id="email" placeholder="example@email.com">
          </div>
          <div class="d-flex flex-column mt-4">
            <label class="mb-2" for="feedback">意見反應</label>
            <textarea name="feedback" id="feedback" rows="8" placeholder="請輸入您的意見"></textarea>
          </div>
          <div class="d-flex mt-4">
            <input type="checkbox" name="agree" id="agree">
            <label for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <div class="text-center mt-12">
            <button class="btn-primary btn-lg" type="submit">確認送出</button>
          </div>

        </form>
      
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
